@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --titulo: hsl(300, 43%, 22%);
    --verificar: hsl(333, 80%, 67%);
    --descricao: hsl(303, 10%, 53%);
    --avaliacao: hsl(300, 24%, 96%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Spartan';
    font-size: 15px;
    padding: 20% 0;
}

.container {
    padding: 0% 6%;
}

@media screen and (min-width: 1440px) {
    body {
        padding: 0;
    }
    .container {
        padding: 0% 10%;
    }
}